---
interface Props {
  title: string;
  date: Date;
  url: string;
  img: string;
  readtime: string;
}

const { title, date, url, img } = Astro.props as Props;
---

    <li class="project-card flex items-center bg-[#111111] shadow-lg rounded-lg p-6 border-2 border-darkslate-100 hover:border-primary-500">
    <a href={`/project/${url}`} class="flex-1 flex items-center no-underline text-white">
        <div class="flex-1">
        <h1 class="text-xl font-bold mb-4 max-w-md">{title}</h1>
        <p class="text-sm text-neutral-400 ">{date.toLocaleDateString()}</p>
        </div>
        <div class="ml-4">
        <img src={img} alt={title} class="w-32 h-20 sm:w-48 sm:h-28 md:w-64 md:h-36 lg:w-80 lg:h-48 object-cover rounded-xl align-center" />
        </div>
    </a>
    </li>

<style>
  .project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
</style>